<app-spinner></app-spinner>
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" *ngIf="userService.user?.isRole('Admin')">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-shopping-cart"></i> <span>EK-SHOP</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <!--<img src="images/img.jpg" alt="..." class="img-circle profile_img">-->
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{userService.user.getFullName()}}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->
                <br />
                <navmenu-admin></navmenu-admin>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 1200px;">
            <app-component-factory [data]="componentFactoryData"></app-component-factory>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                EK-SHOP - All Rights Reserved.
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<router-outlet></router-outlet>
