<div class="container">
    <footer class="footer">
        <div class="container">
            <div class="col-md-4" style="margin-top: 20px">
                <img class="img-responsive" src="/Content/Uploads/Web/kanceliarineparduotuve2.png" alt="kanceliarine parduotuve" style="margin-bottom: 10px" />
                <div class="footer-font">&copy; {{dateNow | date: 'yyyy'}} Visos teisės saugomos.<br />Kanceliarineparduotuve.lt</div>
            </div>
            <div class="col-md-4 footer-font" style="margin-top: 85px;">
                <a href="/info/apie-mus">Apie mus</a><br />
                <a href="/info/kontaktai">Kontaktai</a><br />
                <a href="/info/duk">D.U.K</a><br />
                <a href="/info/prekiu-grazinimas">Prekių grąžinimas</a><br />
                <a href="/info/prekiu-uzsakymas-ir-pristatymas">Prekių užsakymas ir pristatymas</a><br />
                <a href="/info/korespondencine-siunta">Prekių pristatymas korespondencine siunta</a><br />
                <a href="/blog" target="_self">Kanceliarinės Parduotuvės tinklaraštis</a>
            </div>
            <div class="col-md-4" style="margin-top: 85px">
                <a href="https://www.facebook.com/kanceliarineparduotuve.lt"><img src="/Content/Uploads/Web/fb.png" alt="facebook tinklalapis" /></a>
                <a href="https://plus.google.com/116413762820949807026"><img src="/Content/Uploads/Web/google.png" alt="google tinklalapis" /></a>
            </div>
        </div>
        <br /><br />
    </footer>
</div>
